bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll
autoexec.cfg

crapnet*
dilate*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds*
teeworlds_srv*
tileset_border*
versionsrv*
/other/luajit/LuaJIT-2.0.2/src/*.ilk
/other/luajit/LuaJIT-2.0.2/src/*.pdb
/other/luajit/win32/*.ilk
/other/luajit/win32/*.pdb
/*.exe
/*.dll
/*.pdb
